<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ebe890">  <td>21/06/29 12:33:33</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Login.setup()[pri:0, instance:com.flipcart.tests.Login@770d3326]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="ebe890">  <td>21/06/29 12:33:33</td>   <td>104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.loginTest()[pri:0, instance:com.flipcart.tests.Login@770d3326]">loginTest</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="a4858c">  <td>21/06/29 12:33:33</td>   <td>144</td> <td>&nbsp;</td><td title="&gt;&gt;SearchingItem.Before()[pri:0, instance:com.flipcart.tests.SearchingItem@732c2a62]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="a4858c">  <td>21/06/29 12:33:33</td>   <td>151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchingItem.searchItem()[pri:0, instance:com.flipcart.tests.SearchingItem@732c2a62]">searchItem</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="ada98c">  <td>21/06/29 12:33:33</td>   <td>184</td> <td>&nbsp;</td><td title="&gt;&gt;AddToCart.Before()[pri:0, instance:com.flipcart.tests.AddToCart@2accdbb5]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="ada98c">  <td>21/06/29 12:33:33</td>   <td>191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddToCart.addToCart()[pri:0, instance:com.flipcart.tests.AddToCart@2accdbb5]">addToCart</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>21/06/29 12:33:33</td>   <td>210</td> <td>&nbsp;</td><td title="&gt;&gt;Logout.Before()[pri:0, instance:com.flipcart.tests.Logout@34f5090e]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="9bec8e">  <td>21/06/29 12:33:33</td>   <td>221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Logout.logoutTest()[pri:0, instance:com.flipcart.tests.Logout@34f5090e]">logoutTest</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>21/06/29 12:33:33</td>   <td>241</td> <td>&nbsp;</td><td title="&gt;&gt;EditCustomerName.Before()[pri:0, instance:com.flipcart.tests.EditCustomerName@49912c99]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="8b8b72">  <td>21/06/29 12:33:33</td>   <td>250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="EditCustomerName.EditName()[pri:0, instance:com.flipcart.tests.EditCustomerName@49912c99]">EditName</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>21/06/29 12:33:33</td>   <td>380</td> <td>&nbsp;</td><td title="&gt;&gt;ViewMyOrders.Before()[pri:0, instance:com.flipcart.tests.ViewMyOrders@6c130c45]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="97aea5">  <td>21/06/29 12:33:33</td>   <td>388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ViewMyOrders.ViewOrders()[pri:0, instance:com.flipcart.tests.ViewMyOrders@6c130c45]">ViewOrders</td> 
  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="edbcad">  <td>21/06/29 12:33:33</td>   <td>405</td> <td>&nbsp;</td><td title="&gt;&gt;UncheckNotification.Before()[pri:0, instance:com.flipcart.tests.UncheckNotification@d29f28]">&gt;&gt;Before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@263885523</td>   <td></td> </tr>
<tr bgcolor="edbcad">  <td>21/06/29 12:33:33</td>   <td>421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="UncheckNotification.Notification()[pri:0, instance:com.flipcart.tests.UncheckNotification@d29f28]">Notification</td> 
  <td>main@263885523</td>   <td></td> </tr>
</table>
