<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aed93">  <td>21/08/12 12:21:31</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ProductSortFilter.closeReport()[pri:0, instance:com.flipcart.tests.ProductSortFilter@61fe30]">&lt;&lt;closeReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2001321875</td>   <td></td> </tr>
<tr bgcolor="7aed93">  <td>21/08/12 12:20:52</td>   <td>-38343</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ProductSortFilter.gift()[pri:0, instance:com.flipcart.tests.ProductSortFilter@61fe30]">gift</td> 
  <td>main@2001321875</td>   <td></td> </tr>
<tr bgcolor="7aed93">  <td>21/08/12 12:20:38</td>   <td>-52811</td> <td>&nbsp;</td><td title="&gt;&gt;ProductSortFilter.report()[pri:0, instance:com.flipcart.tests.ProductSortFilter@61fe30]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2001321875</td>   <td></td> </tr>
<tr bgcolor="7aed93">  <td>21/08/12 12:20:38</td>   <td>-52595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProductSortFilter.setupDriverServer()[pri:0, instance:com.flipcart.tests.ProductSortFilter@61fe30]">&gt;&gt;setupDriverServer</td> 
<td>&nbsp;</td>  <td>main@2001321875</td>   <td></td> </tr>
<tr bgcolor="7aed93">  <td>21/08/12 12:21:30</td>   <td>-627</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProductSortFilter.tearDown(org.testng.ITestResult)[pri:0, instance:com.flipcart.tests.ProductSortFilter@61fe30]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@2001321875</td>   <td></td> </tr>
</table>
